.button {
    &Base {
        position: relative;
        border: none;
        color: rgba(0, 214, 252, 0.5);
        background: none;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1.8px;
        width: 200px;
        height: 70px;
        padding: 0;
        transition: all 0.25s ease;
        outline: none;
      
        &::before { /* right decoration */
            content: "";
            position: absolute;
            bottom: 50%;
            right: 0;
            width: 1px;
            height: 20px;
            transform: translateX(1px);
            background: rgba(0, 214, 252, 1);
            transition: all 0.25s ease;
        }
      
        &::after { /* left decoration */
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 20px;
            transform: translateX(-1px);
            background: rgba(0, 214, 252, 1);
            transition: all 0.25s ease;
        }

        &:hover {
            cursor: pointer;
            color: rgba(0, 214, 252, 1);
            text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
            &.buttonBase::before {
                bottom: 20.9px;
            }
            &.buttonBase::after {
                top: 21px;
            }
            .buttonSideLeft::after {
                right: 0;
                width: 20px;
            }
            .buttonSideRight::after {
                left: 0;
                width: 20px;
            }
            .buttonSideLeft::before {
                box-shadow: 2px -2px 2px  rgba(0, 214, 252, 0.5);
            }
            .buttonSideRight::before {
                box-shadow: -2px 2px 2px  rgba(0, 214, 252, 0.5);
            }
            .buttonSideLeft {
                box-shadow: -2px 2px 2px  rgba(0, 214, 252, 0.3);;
            }
            .buttonSideRight {
                box-shadow: 2px -2px 2px  rgba(0, 214, 252, 0.3);;        
            }
        }
        &:active {
            .buttonSideLeft::after {
                width: 180px;
            }
            .buttonSideRight::after {
                width: 180px;
            }
        }
    }
    &SideLeft {
        width: 180px;
        height: 50px;
        position: absolute;
        bottom: -1px;
        left: -1px;
        border-left: solid 1px rgba(0, 214, 252, 0.3);
        border-bottom: solid 1px rgba(0, 214, 252, 0.3);
      
        &::after { /*bot decoration */
            content: "";
            position: absolute;
            bottom: 0;
            right: 10%;
            width: 60px;
            height: 1px;
            transform: translateY(1px);
            background: rgba(0, 214, 252, 1);
            transition: all 0.25s ease;
        } 
        &::before {
            content: "";
            position: absolute;
            top: -11.3px;
            left: -5px;
            width: 31px;
            height: 1px;
            transform: rotate(-45deg);
            background: rgba(0, 214, 252, 1);
            border-radius: 50px;
        }
    }
    &SideRight {
        width: 180px;
        height: 50px; 
        position: absolute;
        top: -1px;
        right: -1px;
        border-right: solid 1px rgba(0, 214, 252, 0.3);
        border-top: solid 1px rgba(0, 214, 252, 0.3);

        &::after { /* top decoration*/
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            width: 60px;
            height: 1px;
            transform: translateY(-1px);
            background: rgba(0, 214, 252, 1);
            transition: all 0.25s ease;
        }
        &::before { /*bottom right diag*/
            content: "";
            position: absolute;
            bottom: -11.3px;
            right: -5px;
            width: 31px;
            height: 1px;
            background: rgba(0, 214, 252, 1);
            transform: rotate(-45deg);
            border-radius: 50px;
        }
    }
}